<header class="site-header">

  <button id="menu-button" class="mobilenav-toggle" aria-haspopup="true" aria-controls="global-nav" onclick="navButtonToogle()">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <nav class="navigation" id="global-nav" aria-label="Main navigation">
    <ul class="links">
  
      <li>
        <a class="top-link" href="/" id="home">Home</a>
      </li>
  
      <li>
        <a class="top-link" href="/videos">Vídeos</a>
      </li>
  
      <li>
        <a class="top-link" href="/news">Novidades</a>
      </li>
  
      <li>
        <a class="top-link" href="/tags">Tags</a>
      </li>
  
      <li>
        <a class="top-link" href="/about">Sobre</a>
      </li>
    </ul>
  </nav>

  <div class="header-image"></div>

</header>
