---
layout: default
---
{% assign videos = site.pages %}

{% include tools/sort.html videos=videos %}

    <div class="home_wrapper">

      <div class="welcome-block">
        <div class="presentation">
          <h1>Manual do Código</h1>
          <p>Seja bem-vindo(a) ao Manual do Código. O canal Manual do Código no YouTube é dedicado a vários temas envolvendo <strong>programação de computadores</strong>,
            do básico ao avançado. Este site condensa todos os artigos, novidades e códigos para todos os vídeos e projetos. <span class="text-red">Não deixe de se inscrever
            no canal do YouTube clicando no botão abaixo e em seguida ativando o sininho.</span>
          </p>
            <div class="social-medias-links">
              <div><a href="{{ site.links.youtube }}?sub_confirmation=1" target="_blank" class="button-base youtube">Inscreva-se no YouTube</a></div> 
            </div>
        </div>           
    
        <div class="social-medias">
          <p>Acesse as redes sociais do Manual do Código através dos links abaixo.</p>
          <div class="social-medias-links">
            <div><a href="{{site.links.youtube}}" target="_blank" class="button-base youtube-small">YouTube</a></div>
            <div><a href="{{site.links.github}}" target="_blank" class="button-base github">Github</a></div>
            <div><a href="{{site.links.twitter}}" target="_blank" class="button-base twiter">Twiter</a></div>
            <div><a href="{{site.links.facebook}}" target="_blank" class="button-base facebook">Facebook</a></div>
            <div><a href="{{site.links.instagram}}" target="_blank" class="button-base instagram">Instagram</a></div>
          </div>
        </div>
    
      </div>



      <h2>ÚLTIMOS VÍDEOS</h2>

      <hr>

      <div class="card-list">
        <ul class="cards">

          {% for page in out_sortedVideos limit:3 %}
            {% if page.type %}
              <li>
                <div class="card">
                  <a href="{{page.url}}">
                    <div class="card-header"> {% comment %} Video thumbnail. {% endcomment %}
                      <div class="thumb-container">      
                        <span class="card-badge">{{page.entry_number}}</span>    
                        {% if page.thumb%}  
                          <div class="card-thumbnail" style="background-image: url('/pages_data/{{page.repository}}/{{page.thumb}}')"></div>
                        {% else %}
                          <div class="card-thumbnail" style="background-image: url(https://i.ytimg.com/vi/{{page.youtube_video_id}}/mqdefault.jpg)"></div>
                        {% endif %}
                      </div>
                
                      <h3>{{page.title}}</h3>
                
                      {% if site.use_date_on_cards %}
                        <span class="card-date">{{page.date}}</span>
                      {% endif %}
                    </div>
                  </a>

                  <div class="card-description">{% comment %} Short description/excerpt. {% endcomment %}
                    {{page.description}}
                  </div>

                  <div class="buttons"> {% comment %} CTAs (link to YouTube and internal video page or livestream). {% endcomment %}

                      <a class="youtube" href="https://youtu.be/{{page.youtube_video_id}}" target="blank">
                        Assistir no YouTube<span class="sr-only">: {{ post.title | escape }}</span>
                      </a>
                      <a href="{{page.url}}" >
                        Ir para Página</span>
                      </a>
                  </div>
                </div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>

